{% extends 'base.html' %}

{% block title %}Spend Manager{% endblock %}

{% block content %}
    <main>
        <div>
            <h1>Signup</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Signup</button>
            </form>
        </div>
    </main>
{% endblock %}
